<app-container>
  <h2>KONEC</h2>

  <h3>Tvůrčí tým:</h3>

  <dl>
    <dt>Koncept, text, rešerše, režie:</dt>
    <dd>Barbora Smolíková, Veronika Macková, Kristýna Vinařová</dd>

    <dt>Hrají:</dt>
    <dd>Tomáš Adel, Vojtěch Franců, Marie Machová, Jakub Müller, Bea Stevens, Luciana Tomášová</dd>

    <dt>Zvuk:</dt>
    <dd>Vít Jeřábek, Kryštof Volkman</dd>

    <dt>Web:</dt>
    <dd>Martin Kopeček, Jan Vlasatý</dd>

    <dt>Grafika:</dt>
    <dd>Lída Kulhavá</dd>
  </dl>
  <p>Vytvořeno ve spolupráci s Akademií múzických umění v Praze a Korzem Národní.</p>

  <a routerLink="/sources">Soupis využitých pramenů</a>
</app-container>
