<app-container>
  <h1>KONEC</h1>

  <h2>Tvůrčí tým:</h2>

  <dl>
    <dt>Koncept, text, rešerše, režie:</dt>
    <dd>Barbora Smolíková, Veronika Macková, Kristýna Vinařová</dd>

    <dt>Hrají:</dt>
    <dd>
      Eva: Bea Stevens<br />
      Tereza: Luciana Tomášová<br />
      David: Tomáš Adel<br />
      Martin: Vojtěch Franců<br />
      Julie: Marie Machová<br />
      Ondřej: Jakub Müller
    </dd>

    <dt>Zvuk:</dt>
    <dd>Vít Jeřábek, Kryštof Volkman</dd>

    <dt>Web:</dt>
    <dd>Martin Kopeček, Jan Vlasatý</dd>

    <dt>Grafika:</dt>
    <dd>Lída Kulhavá</dd>

    <dt>Poděkování:</dt>
    <dd>
      Kateřina Malečková, Klára Metge, Marie Paclíková, Kateřina Součková, Jiří Suchánek, Petra Vávrová, Ingrid Vinařová
    </dd>
  </dl>

  <p>
    Máte zpětnou vazbu, kterou byste chtěli dát tvůrčímu týmu? Můžete nám napsat na
    <a href="mailto:ukonicka.audiowalk@email.cz">ukonicka.audiowalk&#64;email.cz</a>
  </p>

  <p>Vytvořeno ve spolupráci s Akademií múzických umění v Praze a Korzem Národní.</p>

  <a routerLink="/bonus">Bonusové materiály</a>

  <a routerLink="/sources">Soupis využitých pramenů</a>

  <a routerLink="/">Návrat na hlavní stránku</a>
</app-container>
