<app-container>
  <h1>Bonusové materiály</h1>
  <h2>Fotky ze 17. 11. 1989</h2>
  <a href="https://www.seznamzpravy.cz/clanek/obrazem-historicke-fotky-z-roku-1989-pokojny-pochod-se-zmenil-v-policejni-rezbu-219427" target="_blank">seznamzpravy.cz</a>

  <h2>Reporáž Českého rozhlasu</h2>
  <a href="https://www.mujrozhlas.cz/dejiny-do-usi/1989-sametova-revoluce" target="_blank">mujrozhlas.cz</a>

  <app-page-footer>
    <app-button routerLink="/end">Zpět</app-button>
  </app-page-footer>
</app-container>
