<app-container justify="space-between">
  <div class="text-center px-3 py-4">
    <h1>Poslední věc: dávej na sebe pozor!</h1>

    <p class="mt-3">
      V&nbsp;příběhu se&nbsp;budeš pohybovat centrem Prahy. Proto nezapomínej na&nbsp;vlastní bezpečnost, vnímej
      i&nbsp;svět kolem, zejména další chodce, cyklisty, automobily. Pohybuj se&nbsp;prosím pouze po&nbsp;chodnících,
      dlážděných a&nbsp;betonových cestách a&nbsp;na&nbsp;všech přechodech se&nbsp;pořádně rozhlédni!
    </p>
  </div>
  <app-page-footer>
    <app-button (click)="next.emit()">Rozumím</app-button>
  </app-page-footer>
</app-container>
