<app-container align="center" justify="space-between">
  <div class="p-5">
    <h2>Dávej na sebe pozor</h2>

    <p class="mt-3">
      V příběhu se budeš pohybovat centrem Prahy. Proto nezapomínej na vlastní bezpečnost, vnímej i svět kolem, zejména
      další chodce, cyklisty, automobily. Pohybuj se prosím pouze po chodnících, dlážděných a betonových cestách a na
      všech přechodech se pořádně rozhlédni!
    </p>
  </div>
  <app-page-footer>
    <app-button (click)="next.emit()">Slibuju</app-button>
  </app-page-footer>
</app-container>
