:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.content.align-center {
  margin: 0 auto;
  align-items: center;
}

.content.width-mobile {
  max-width: 576px;
}
