@import "src/styles/theme.scss";

:host {
  display: inline-block;

  text-transform: uppercase;

  letter-spacing: .1em;

  padding: 1em 1em;

  background-color: $secondary-dark;

  position: relative;

  --pixelborder-width: 5px;

  margin: calc(var(--pixelborder-width));
  cursor: pointer;

  transition:
    background-color 0.3s,
    color 0.3s;

  .pixelborder {
    position: absolute;
    background-color: $secondary-dark;
    transition: background-color 0.3s;
  }

  .pixelborder-left {
    top: 0;
    right: 100%;
    bottom: 0;
    width: var(--pixelborder-width);
  }
  .pixelborder-top {
    left: 0;
    right: 0;
    bottom: 100%;
    height: var(--pixelborder-width);
  }
  .pixelborder-right {
    top: 0;
    left: 100%;
    bottom: 0;
    width: var(--pixelborder-width);
  }
  .pixelborder-bottom {
    top: 100%;
    right: 0;
    left: 0;
    height: var(--pixelborder-width);
  }
}

:host.touching,
:host.active {
  background-color: $primary;
  color: $secondary-dark;

  .pixelborder {
    background-color: $primary;
  }
}
