<app-page>
  <app-page-content>
    <div class="container-sm h-100">
      <div class="h-100 d-flex flex-column text-center">
        <div class="row flex-grow-1 d-flex align-items-center justify-content-center overflow-auto">
          <div class="col-lg-6">
            <h5 class="mt-5">Podmínky užití</h5>
            <p class="mt-1">
              Datum účinnosti: 14. 11. 2023<br /><br />
              <b>Přijetí podmínek</b><br />
              Používáním webového audiowalku souhlasíte s těmito podmínkami. Pokud s nimi nesouhlasíte, nepoužívejte
              tento audiowalk.<br /><br />
              <b>Licence a omezení</b><br />
              Tento webový audiowalk je poskytován zdarma a uživatel získává omezenou licenci pro osobní, nekomerční
              použití. Jakékoliv další použití, distribuce nebo reprodukce obsahu je zakázána bez předchozího písemného
              souhlasu.<br /><br />
              <b>Odpovědnost</b><br />
              Poskytovatel webového audiowalku nenese odpovědnost za škody nebo ztráty způsobené užíváním nebo
              nemožností užívat audiowalku.<br /><br />
              <b>Změny a zrušení</b><br />
              Poskytovatel si vyhrazuje právo kdykoliv změnit nebo zrušit webový audiowalk bez předchozího oznámení.<br /><br />
              <b>Ochrana autorských práv</b><br />
              Obsah webového audiowalku, včetně audiomateriálů a textů, je chráněn autorským právem. Jakékoliv
              neoprávněné použití nebo distribuce může být postiženo právními důsledky.<br /><br />
              <b>Ochrana soukromí</b><br />
              Poskytovatel respektuje vaši soukromí. Žádné osobní údaje se prostřednictvím audiowalku neshromažďují.<br /><br />
              <b>Cookies</b><br />
              Web ze své podstaty vyžaduje využití nezbytných cookies resp. lokálního úložiště webového prohlížeče.
              Žádná data nejsou spjata s osobou uživatele a ani nejsou uložena na cizích serverech.<br /><br />
              <b>Závěrečná ustanovení</b><br />
              Tyto obchodní podmínky tvoří úplnou dohodu mezi uživatelem a poskytovatelem webového audiowalku a
              nahrazují všechny předchozí ústní nebo písemné dohody.<br /><br />
              Děkujeme za používání webového audiowalku. Pokud máte otázky nebo připomínky k těmto obchodním podmínkám,
              kontaktujte nás na <a href="mailto:info@studentskarevolta89.cz">info&#64;studentskarevolta89.cz</a>.
              <br /><br />
            </p>
          </div>
        </div>
        <footer class="row py-4">
          <div class="col d-flex align-items-center justify-content-center">
            <button class="btn btn-primary my-2" routerLink="/">
              Návrat na úvod <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </footer>
      </div>
    </div>
  </app-page-content>
</app-page>
