<app-container align="center" justify="flex-start">
  <div class="p-5">
    <h1>Sejdeme se u Koníčka?</h1>

    <p>Před začátkem si audiowalk stáhni, zůstane uložený i když zavřeš webový prohlížeč.</p>

    <app-media-download-status></app-media-download-status>

    @if (isInAppBrowser) {
      <p>
        ⚠️ Pozor, vypadá to, že si otevíráš audiowalk prostřednictvím prohlížeče jiné aplikace (Instagram, Facebook
        atd.). Otevři si prosím adresu <code>{{ currentUrl }}</code> v normálním prohlížeči.
      </p>
    }

    @switch (mediaService.downloadStatus | async) {
      @case ("downloaded") {
        <a (click)="delete()" class="text-danger">Smazat stažená data</a>
        <br /><br />
      }
      @case ("downloading") {}
      @default {
        <app-button (click)="download()">Stáhnout audiowalk</app-button>
      }
    }

    @if ((mediaService.downloadStatus | async) === "downloaded") {
      @if (storyStateExists | async) {
        <app-button (click)="startNewStory()">Spustit od začátku</app-button>
        <br /><br />
        <app-button (click)="continueOldStory()">Pokračovat v příběhu</app-button>
      } @else {
        <app-button (click)="startNewStory()">Spustit audiowalk</app-button>
      }
    }
  </div>
</app-container>
