<div class="row">
  <div class="col">
    <i class="bi bi-person-walking fs-0"></i>
    <div class="mt-3">
      <h2>Začátek trasy</h2>
      <p class="mt-3">
        Trasa začíná u&nbsp;Nové scény Národního Divadla,<br />má 7&nbsp;zastávek a trvá zhruba 70&nbsp;minut.
      </p>
      <p class="mt-1">Dojděte k&nbsp;Srdci pro Václava Havla<br />(piazetta Národního divadla) na&nbsp;Starém Městě</p>
      <button class="btn btn-outline-primary mt-3" (click)="openNavigation()">
        Navigovat&nbsp;&nbsp;&nbsp;<i class="bi bi-box-arrow-up-right"></i>
      </button>
    </div>
  </div>
</div>