<app-container align="center" justify="space-between">
  <div class="p-5">
    <h2>Interakce II</h2>
    <p>
      Super, tanhle zvuk vždy znamená, že se máte zastavit, protože se v aplikaci objevilo něco, na co byste měli
      reagovat. Simulace rozhovoru postav?
    </p>
    <p>Pokud bude čas na to, se podívat do aplikace, uslyšíte tento zvuk!</p>
  </div>

  <app-page-footer>
    <app-button (click)="next.emit()">Chápu</app-button>
    <br />
    <br />
    <app-button (click)="next.emit()">možná to nechápu, ale jdeme dál</app-button>
  </app-page-footer>
</app-container>

<app-jingle />
