<div class="px-3 py-4">
  <h1>Seznam využitých pramenů</h1>
  <ul class="list-unstyled">
    <li>
      VANĚK, Miroslav.
      <i>Sto studentských revolucí: studenti v období pádu komunismu – životopisná vyprávění.</i> Vydání druhé,
      rozšířené. Praha: Univerzita Karlova, nakladatelství Karolinum, 2019. ISBN 978-80-246-4450-9.
    </li>
    <li>
      OTÁHAL, Milan a VANĚK, Miroslav.
      <i>Sto studentských revolucí: studenti v období pádu komunismu – životopisná vyprávění.</i> Praha: Nakladatelství
      Lidové noviny, 1999. ISBN 80-7106-337-1.
    </li>
    <li>
      VANĚK, Miroslav.
      <i
        >Sto studentských revolucí: vysokoškolští studenti roku 1989: životopisná vyprávění v časosběrné perspektivě.</i
      >
      Praha: Academia, 2019. ISBN 978-80-200-3027-6.
    </li>
    <li>
      HAVEL, Václav; OTÁHAL, Milan a SLÁDEK, Zdeněk.
      <i>Deset pražských dnů: (17.–27. listopad 1989): dokumentace.</i> První vydání. Praha: Academia, 1990. ISBN
      80-200-0340-1.
    </li>
    <li>
      MEJSTŘÍKOVÁ, Dorotea.
      <i>Studenti dělají revoluci: Role studentských časopisů a novin během sametové revoluce.</i> Praha, 2018. 49 s.
      Bakalářská práce (Bc). Univerzita Karlova, Fakulta sociálních věd, Institut mezinárodních studií. Katedra ruských
      a východoevropských studií. Vedoucí diplomové práce prof. doc. PhDr. Jiří Kocian, CSc.
    </li>
    <li>
      MEJSTŘÍKOVÁ, Dorotea. <i>O svobodě v nesvobodě: Setkávání studentů U Bílého koníčka.</i> Diplomová práce, vedoucí
      Vaněk, Miroslav. Praha: Univerzita Karlova, Fakulta humanitních studií, Program Orální historie – soudobé dějiny,
      2022.
    </li>
    <li>
      VANĚK, Miroslav. <i>(Ne)oficiální kulturní aktivity mládeže v Československu v období tzv. normalizace.</i> In:
      Každodenní život v Československu 1945/48–1989. Praha: Ústav pro studium totalitních režimů, 2015, s. 154–179.
      ISBN 9788087912355.
    </li>
    <li>
      BARTOŠ, Jonáš. <i>Role médií při pádu komunistického režimu v Československu v roce 1989.</i> Praha: Univerzita
      Karlova, Fakulta sociálních věd, Institut politologických studií, 2011. Vedoucí diplomové práce PhDr. Josef
      Mlejnek, Ph.D.
    </li>
    <li>
      Archiv československé psychologie. In: Psychologický ústav AV ČR, v. v. i. Dostupné z:
      <a href="https://archiv-psychologie.cz/?folder=37">https://archiv-psychologie.cz/?folder=37</a>
    </li>
    <li>
      Dobové letáky. In: 100 studentských revolucí. Dostupné z:
      <a href="http://www.studenti89.usd.cas.cz/letaky/">http://www.studenti89.usd.cas.cz/letaky/</a>
    </li>
  </ul>

  <div class="d-flex justify-content-center">
    <app-button routerLink="/end" class="my-3">Zpět</app-button>
  </div> 
</div>
