body,
html {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "JustMeAgainDownHere";
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  user-select: none;
}

// app-root>*:not(router-outlet) {
//   display: block;
//   height: 100%;
// }

h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn {
  cursor: pointer;
  padding: 8px 20px;
  margin: 5px;
  text-transform: uppercase;
  font-family: "Roboto Flex";
}

.btn-primary {
  background-color: white;
  border: none;
  border-radius: 48px;
  color: black;
  font-family: "Roboto Flex";
  // text-transform: uppercase;
  font-weight: 600;
  transition-duration: 0.2s;
}

.btn-primary:hover {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
}

.btn-outline-primary {
  border-color: white;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  transition-duration: 0.2s;
}

.btn-outline-primary:hover {
  border-color: white;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  color: black;
}

.btn-link {
  color: white;
  font-family: "Roboto Flex";
  font-weight: 600;
  transition-duration: 0.2s;
  text-decoration: none;
}

.btn-link:hover {
  color: white;
}

.btn.primary {
  background-color: #fff;
  color: #000;
  // font-weight: bold;
  // text-transform: uppercase;
}

.btn.button-icon {
  padding: 0;
  border: 0;
  height: auto;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.1;
}

.selectable {
  user-select: auto;
}

.card.bg-light {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white;

  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.fs-0 {
  font-size: 72px;
}

.fs-8 {
  font-size: 10px;
  letter-spacing: 10px;
}
