@import "src/styles/theme.scss";

body,
html {
  padding: 0;
  margin: 0;
  background-color: var($body-bg);
  color: var($primary);
  font-family: "UbuntuMono";
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Micro5";
  font-weight: bold;
}

h1 {
  font-size: 3em;
  line-height: 0.85em;

  color: $primary;
}
h2 {
  font-size: 2em;
  line-height: 0.85em;

  color: $primary;
}

.code {
  font-family: UbuntuMono;
}

a {
  cursor: pointer;
  text-decoration: underline !important;
}

a:hover {
  color: $primary !important;
}
