body,
html {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "JustMeAgainDownHere";
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  user-select: none;
}

.app-page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
