$primary: #efebe1;
$secondary: #1b2422;
$secondary-dark: #111413;

$body-bg: #1b2422;
$box-border: white;

@keyframes ticking {
  0% {
    opacity: 0;
  }
}

.animate-ticking {
  animation: ticking 1s infinite steps(2);
}