<div class="mt-3" *ngIf="downloadStatus | async as state">
  @switch (state) {
    @case ("downloading") {
      <p *ngIf="state === 'downloading'">
        <i class="bi bi-hourglass-split"></i><br />Stahuji... {{ downloadProgress | async | percent }}
      </p>
    }

    @case ("checking") {
      <p *ngIf="state === 'checking'"><i class="bi bi-hourglass-split"></i> Kontroluji...</p>
    }

    @case ("downloaded") {
      <p class="text-success">
        <i class="bi bi-check-circle"></i> Hotovo, audiowalk je připraven pro&nbsp;offline použití!
      </p>
    }

    @case ("error") {
      <p *ngIf="state === 'error'" class="text-warning mt-2">
        <i class="bi bi-emoji-frown"></i>
        Nastala Chyba při stahování.<br />
      </p>
    }
  }
</div>
