:host {
  display: block;
  width: 100%;
  max-width: 70px;
}

button.touching {
  background: rgba(255, 255, 255, 0.1);
  img {
    transform: scale(0.9);
  }
}

img {
  transform: scale(0);
}

img.active {
  transform: scale(1);
}
