<app-container justify="space-between">
  <div>
    <app-header text="Ztratil/a jsem se" [showHelp]="false"></app-header>

    @if (currentChapter | async; as chapter) {
      <div class="my-5 text-center">
        <h2>Pokyn</h2>
        <p
          *ngIf="chapter.metadata.direction"
          [innerHTML]="chapter.metadata.direction"
          style="white-space: pre-wrap"
        ></p>
        <a *ngIf="chapter.metadata.directionMapUrl" [href]="chapter.metadata.directionMapUrl" target="_blank"
          >Otevřít cílové místo v mapě</a
        >
      </div>
    }

    <div class="my-5 text-center">
      <h2 class="mt-5">Reset audiowalku</h2>
      <p class="px-3">
        Příbeh lze pustit také od samého začátku před FF UK<br />
        <a routerLink="/intro" class="text-warning">Spustit od začátku</a>
      </p>
    </div>
  </div>
  <app-page-footer>
    <app-button routerLink="/story/walk">Zpět do příběhu</app-button>
  </app-page-footer>
</app-container>
