<app-container justify="space-between">
  <div>
    <app-header text="Ztratil jsem se" [showHelp]="false"></app-header>

    @if (currentChapter | async; as chapter) {
      <div class="my-5 text-center">
        <p
          *ngIf="chapter.metadata.direction"
          [innerHTML]="chapter.metadata.direction"
          style="white-space: pre-wrap"
        ></p>
        <a *ngIf="chapter.metadata.directionMapUrl" [href]="chapter.metadata.directionMapUrl">Otevřít cílové místo v mapě</a>
      </div>
    }

    <app-header text="Reset aplikace" [showHelp]="false"></app-header>
    <p class="px-3">
      <a routerLink="/intro">Začít příběh od začátku</a>
    </p>
  </div>
  <app-page-footer>
    <app-button routerLink="/story/walk">Zpět do příběhu</app-button>
  </app-page-footer>
</app-container>
