<app-page>
  <app-page-content>
    <div class="container-sm">
      <div class="row">
        <div class="col pb-5">

          <div class="row px-3">
            <div class="col-10">
              <h3 class="mb-5 mt-5">Vyberte kapitolu</h3>
            </div>
            <div class="col-2 d-flex align-items-center">
              <button routerLink="/walk">
                <i class="bi bi-x-circle-fill fs-1"></i>
              </button>
            </div>
          </div>

          <div class="card mb-2 p-3" *ngFor="let chapter of chapters; let i = index">
            <div class="card-body">
              <a routerLink="/walk" [queryParams]="{ chapter: i + 1 }">
                <div class="row">
                  <div class="col-1 d-flex align-items-center text-center">
                    <h5>{{ i + 1 }}</h5>
                  </div>
                  <div class="col-9 d-flex align-items-center">
                    <h5 [innerHTML]="chapter.title"></h5>
                  </div>
                  <div class="col-2 text-end d-flex align-items-center">
                    <i class="bi bi-play-circle-fill fs-1"></i>
                  </div>

                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </app-page-content>
</app-page>