<app-container justify="space-between">
  <div class="px-3 py-4">
    <h1 class="text-center">Povídej si s&nbsp;postavami</h1>
    <p class="text-center">
      Během poslechu můžeš mít obrazovku mobilu vypnutou a&nbsp;soustředit se na&nbsp;cestu. Občas ale bude potřeba zastavit a&nbsp;telefon znovu otevřít. 
      To může nastat ve chvíli, kdy:
    </p>
    <ul class="text-left m-3">
      <li>je nutné potvrdit,<br />že jsi na správném místě</li>
      <li>máš možnost prohlédnout si<br />doprovodné materiály</li>
      <li>je čas vstoupit<br />do konverzace s postavami</li>
    </ul>

    <p class="text-center">Tyto momenty poznáš<br />podle speciálního zvuku.</p>
  </div>

  <app-page-footer>
    <app-button (click)="playJingle(); next.emit()">Přehrát zvuk</app-button>
  </app-page-footer>
</app-container>
