<app-container align="center" justify="space-between">
  <div class="p-5 text-center">
    <h2>Poslouchej instrukce postav v audiu</h2>

    <p>Řeknou ti, kdy vyrazit na cestu, kdy se zastavit nebo kterým směrem jít.</p>
    <p>Poslouchej také zvuk kroků, znamenají, že se máš někam přesouvat.</p>
    <p>Pokud budeš mít pocit, že nevíš, kudy jít, použij tlačítko nápovědy.</p>

    <app-help-button></app-help-button>
  </div>

  <app-page-footer>
    <app-button (click)="next.emit()">ROZUMÍM</app-button>
  </app-page-footer>
</app-container>
