:host {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("/assets/img/home_bg.jpg") no-repeat top center fixed;
  background-size: cover;
  overflow-y: scroll;

  img {
    max-height: 50px;
    max-width: 100%;
  }
}

.version {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 0.5em;
}