<app-container align="center" justify="flex-start">
  <div class="p-5">
    <h1>Sejdeme se u Koníčka?</h1>
    <p>Interaktivní audiowalk ze začátku akademického roku 1989/1990</p>

    <p>
      Jaké to bylo studovat na vysoké škole těsně před sametovou revolucí? Debaty nad společenskými problémy, psaní
      článků i spousta schůzek po hospodách… Přestože nás od událostí roku 1989 dělí již pětatřicet let, tehdejší
      studentský život byl v mnohém podobný tomu dnešnímu.
    </p>
    <p>
      V audiowalku se projdeš pražským centrem a staneš se jedním ze studujících v období těsně před sametovou revolucí.
      Jak moc se zapojíš do studentského života a aktivit, které vedly k manifestaci 17. listopadu, je jen na tobě.
    </p>
    <p>
      Během procházky potkáš studenty a studentky, se kterými budeš v aplikaci moci komunikovat. A kdo ví, jakou roli v
      příběhu budeš hrát ty?
    </p>
    <p>
      K procházce potřebuješ chytrý telefon s připojením na internet a vlastní sluchátka. Audiowalk je potřeba si předem
      stáhnout offline. Objem dat je cca 200 MB. Tvé údaje neshromažďujeme ani neukládáme.
    </p>
    <p>
      Audiowalk začíná před hlavní budovou Filozofické fakulty na náměstí Jana Palacha a můžeš ho absolvovat v
      jakoukoliv denní dobu. Doporučujeme na něj vyrazit samostatně, trasa může být různá – záleží na tvých rozhodnutích
      v průběhu.
    </p>
    <p>Délka audiowalku bude zhruba 60 minut.</p>
    <p>Chceš si audiowalk projít? Otevři si následující stránku na mobilním telefonu, s nímž trasu půjdeš.</p>

    @if (!isMobile) {
      <qrcode [qrdata]="mobileUrl" [width]="200"></qrcode>
      <a routerLink="/intro">Jsem na mobilu</a>
    } @else {
      <app-button routerLink="/intro">Spustit audiowalk</app-button>
    }
  </div>
  <app-page-footer>
    <span
      [class.text-warning]="(versionUpdates | async) === 'VERSION_DETECTED'"
      [class.text-danger]="(versionUpdates | async) === 'VERSION_INSTALLATION_FAILED'"
      [class.text-success]="(versionUpdates | async) === 'VERSION_READY'"
    >
      v{{ version }}
    </span>
  </app-page-footer>
</app-container>
