<app-container align="center" justify="space-between">
  <div class="pt-5">
    <div class="mt-3">
      <h1>Vyzkoušej zvuk</h1>
      <p class="mt-3">
        Audiostopy spouštíš tlačítkem ≥, můžeš je zapauzovat, případně posunout o 15 vteřin dopředu nebo dozadu.
      </p>

      <p>Tlačítkem níže si pusť audio.</p>

      <div class="mt-5">
        <app-player [track]="track" mode="light" [autoPlay]="false" (next)="next.emit()"></app-player>
      </div>
      <p>Mělo by být slyšet auto, které jede zleva doprava.</p>
    </div>
  </div>

  <app-page-footer>
    <app-button (click)="next.emit()">Zvuk funguje</app-button>
  </app-page-footer>
</app-container>
