<app-page>
  <app-page-content>
    <div class="container-sm h-100">
      <div class="h-100 d-flex flex-column text-center">
        <div class="row flex-grow-1 d-flex align-items-center justify-content-center overflow-auto">
          <div class="col-lg-6">
            <h5 class="mt-5">Autoři</h5>
            <p class="mt-1">David Vojáček a Ivana Hronková</p>
            <h5 class="mt-1">Produkce</h5>
            <p class="mt-1">Magdalena Krumplová</p>
            <h5 class="mt-1">Zvuk a střih</h5>
            <p class="mt-1">Mikhail Kryuckov</p>
            <h5 class="mt-1">Web</h5>
            <p class="mt-1">Jan Vlasatý a Martin Kopeček</p>
            <h5 class="mt-1">Hrají</h5>
            <p class="mt-1">
              Soňa&nbsp;Linhartová, Jan&nbsp;Zdeněk, Lukáš&nbsp;Hořínek, Pavla&nbsp;Nevyhoštěná, Štěpán&nbsp;Gajdošík,
              Jakub&nbsp;Rezek, David&nbsp;Vojáček
            </p>
            <p class="mt-1">+ speciální poděkování studiu FAMU</p>
            <!-- <div>
              <button class="btn btn-outline-primary" (click)="share()">Sdílet na instagram</button>
            </div> -->
          </div>
        </div>
        <footer class="row py-4">
          <div class="col d-flex align-items-center justify-content-center">
            <button class="btn btn-primary my-2" routerLink="/">
              Návrat na úvod <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </footer>
      </div>
    </div>
  </app-page-content>
</app-page>
