<app-container align="center" justify="space-between">
  <div class="px-3 py-4">
    <h1>Pokračujeme?</h1>
    <p class="mt-5">Nic se nestalo, příběh se jen přerušil. Můžete pokračovat v&nbsp;příběhu tam, kde jste skončili.</p>
    <p>Příběh lze pustit také od samého začátku před FF UK.
      <br /><a routerLink="/intro" class="link text-warning">Spustit od začátku</a>
    </p>
  </div>
  <app-page-footer>
    <app-button class="" (click)="continueOldStory()">Pokračovat v příběhu</app-button>
  </app-page-footer>
</app-container>
