@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host {
  .option {
    opacity: 0;
  }
  .option:nth-child(1).active {
    // opacity: 1;
    animation: fadeIn 0.5s 0.5s forwards;
  }
  .option:nth-child(2).active {
    // opacity: 1;
    animation: fadeIn 0.5s 1s forwards;
  }
  .option:nth-child(3).active {
    // opacity: 1;
    animation: fadeIn 0.5s 1.5s forwards;
  }
  .option:nth-child(4).active {
    // opacity: 1;
    animation: fadeIn 0.5s 2s forwards;
  }
  .option:nth-child(5).active {
    // opacity: 1;
    animation: fadeIn 0.5s 2.5s forwards;
  }
}