<app-container justify="space-between">
  <div class="p-3">
    @if (data.quote) {
      <app-box>
        <span [innerHTML]="data.quote"></span>
      </app-box>
    }

    @if (showMaterials) {
      <div class="mt-5">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          @for (material of data.materials; track $index) {
            <div class="carousel-inner">
              <div class="carousel-item" [class.active]="$index == 0">
                <img [src]="material.url" class="d-block w-100" [alt]="material.label">
              </div>
            </div>
          }
          @if (data.materials.length > 1) {
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Předchozí</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Další</span>
            </button>
          }
        </div>
      </div>
    }
  </div>

  <app-page-footer>
    <app-button (click)="end.emit()">Pokračovat</app-button>
  </app-page-footer>
</app-container>

<app-jingle />

@if (data.ambientTrack) {
  <app-player [track]="data.ambientTrack" [autoPlay]="true" [hideUI]="true" [loop]="true" [crossfade]="true" />
}
