<div id="overlay-image" [class.active]="showImage">
  @for (material of data.materials; track $index) {
    @if($index == showIndex) {
      <img [src]="material.url" class="img-fluid" [alt]="material.label" (click)="closeImage()">
    }
  }
  <app-page-footer>
    <app-button (click)="closeImage()" class="mt-3">Zavřít</app-button>
  </app-page-footer>
</div>

<app-container justify="space-between">
  <div class="px-2 py-3">
    @if (data.quote) {
      <app-box>
        <span [innerHTML]="data.quote"></span>
      </app-box>
    }

    @if (showMaterials) {
      <div class="my-4" id="gallery">
        @for (material of data.materials; track $index) {
          <img [src]="material.url" class="img-fluid" [alt]="material.label" [class.active]="$index == showIndex" (click)="openImage()">
        }
      </div>
      @if (data.materials.length > 1) {
        <div class="row">
          <div class="col d-flex justify-content-start">
            @if(showIndex > 0) {
              <a (click)="prevMaterial()" class="prev">← zpět</a>
            }
          </div>
          <div class="col d-flex justify-content-center">
            <a (click)="openImage()">zvětšit</a>
          </div>
          <div class="col d-flex justify-content-end">
            @if(showIndex < data.materials.length - 1) {
              <a (click)="nextMaterial()" class="next">dál →</a>
            }
          </div>
        </div>
      }
      @else {
        <div class="d-flex justify-content-center">
          <a (click)="openImage()">zvětšit</a>
        </div>
      }
    }
  </div>

  <app-page-footer>
    <app-button (click)="end.emit()">Pokračovat</app-button>
  </app-page-footer>
</app-container>

<app-jingle />

@if (data.ambientTrack) {
  <app-player [track]="data.ambientTrack" [autoPlay]="true" [hideUI]="true" [loop]="true" [crossfade]="true" />
}
