<app-container justify="space-between">
  <div class="p-3">
    @if (data.quote) {
      <app-box>
        <p [innerHTML]="data.quote" style="white-space: pre-wrap"></p>
      </app-box>
    }

    @if (showMaterials) {
      <div class="mt-5">
        @for (material of data.materials; track $index) {
          <p>Placeholde pro material {{ material.label }} {{ material.url }}</p>
        }
      </div>
    }
  </div>

  <app-page-footer>
    <app-button (click)="end.emit()">Pokračovat</app-button>
  </app-page-footer>
</app-container>

<app-jingle />

@if (data.ambientTrack) {
  <app-player [track]="data.ambientTrack" [autoPlay]="true" [hideUI]="true" [loop]="true" [crossfade]="true" />
}
